@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
  font-family: "Libre Franklin", "Roboto", sans-serif;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Inside your CSS file or style section */
/* Custom Variables */
:root {
  --primary-color: #1a2238; /* Main color for buttons, links, and highlights */
  --secondary-color: #1a2238; /* Secondary color for accents */
  --text-color: white; /* Main text color */
  --text-color2: #1a2238;
  --background-color: #ddd; /* Background color for the entire page */
  --accent-color: #f4db7d; /* Accent color for call-to-action buttons or elements */
  --border-color: #000000; /* Border color for elements */
  --error-color: rgb(131, 33, 97);
  --success-color: rgb(21, 122, 110);
  --pending-color: rgb(213, 185, 66);
}

body {
  background-color: var(--background-color);
  color: var(--text-color2);
}

form {
  gap: 1.5em;
}

input {
  background-color: var(--background-color);
  color: var(--text-color2);
  border: 1px solid var(--border-color);
}

::placeholder {
  color: var(--text-color2);
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

select {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color2);
}

textarea {
  width: 100%;
  height: 200px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

table th,
table a {
  color: var(--text-color2) !important;
}

/* General */
.mobile {
  display: table-cell;
}

.desktop {
  display: none;
}

.info__icon {
  text-align: center !important;
}

.info__icon btn {
  cursor: pointer;
}

.error-message {
  color: var(--error-color);
  margin-bottom: 1em;
}

.success-message {
  color: var(--success-color);
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.button {
  background-color: var(--background-color);
  color: var(--text-color2);
  border: 2px solid var(--border-color);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: var(--accent-color);
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: var(--background-color); /* Add background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for elevation */
}

.progress__bar {
  margin-bottom: 20px;
}

.progress_heading {
  font-size: 18px; /* Increase font size for headings */
  margin-bottom: 10px;
}

.progress__text {
  font-size: 16px; /* Adjust font size */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loader {
  border: 6px solid var(--border-color); /* Light grey */
  border-top: 6px solid var(--accent-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loading 2s linear infinite; /* Apply the animation */
}

.card:is(:focus-within, :hover) {
  border: 2px solid var(--secondary-color);
}

/* Loading animation */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style for the loader container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Style for the loader */
.loader {
  border: 6px solid var(--border-color); /* Light grey */
  border-top: 6px solid var(--accent-color);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: loading 2s linear infinite; /* Apply the animation */
}

/* Navbar */
.navbar {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  display: flex;
  justify-content: space-between; /* Adjust alignment */
  align-items: center;
  padding: 1em;
  font-size: larger;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  padding: 0.5em 1em; /* Adjust padding */
  margin: 0 1em; /* Adjust margin */
  color: var(--text-color);
  border: 2px solid transparent;
  border-radius: 0.5em;
  transition: 0.3s;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
}

.nav-links a:hover {
  border: 2px solid var(--border-color);
}

.nav-links a i {
  margin-right: 0.5em; /* Add space between icon and text */
}

.nav-links a:hover {
  background-color: var(--accent-color); /* Change background color on hover */
}

/* Auth Page */
.auth-container > * {
  width: 60%;
}

.auth-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.auth-form {
  display: inline-block;
  border: 1px solid var(--border-color);
  padding: 2em;
  border-radius: 15px;
  color: var(--text-color2);
}

:is(.auth-form input, .auth-form select) {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  margin: 1em 0;
  border-radius: 0.5em;
  border: 2px solid var(--text-color2);
  transition: 0.5s;
  background-color: var(--background-color);
}

:is(
    .auth-form input:is(:focus-within, :hover),
    .auth-form select:is(:focus-within, :hover)
  ) {
  background-color: var(--background-color);
  color: var(--text-color2);
  outline: none;
}

.auth-form button {
  margin: 2em 0;
  padding: 1em 0;
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 10em;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.5s;
}

:is(.auth-form button:is(:focus-within, :hover)) {
  background-color: var(--accent-color);
}

/* Table Styles */
.table-container {
  padding: 20px; /* Add padding to the container */
  max-width: 800px; /* Limit the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color2);
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid var(--border-color);
  text-align: left;
}

.table th {
  padding: 8px;
  border: 1px solid var(--border-color);
  text-align: left;
  color: #ffffff; /* Set text color of table headers to white */
  font-weight: normal; /* Set font weight to normal */
  background-color: #1a2238;
}

.table tbody tr:nth-child(even) {
  background-color: var(--background-color);
}

.main-header {
  background-color: #1a2238; /* Update to the main color */
  color: #ffffff;
  padding: 10px;
}

.graph-container {
  background-color: var(--background-color); /* Use the CSS variable */
}

.button2 {
  margin: 0.5em 0 !important;
}

@media only screen and (max-width: 900px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: table-cell;
  }
  table th,
  table td {
    max-width: 100px;
    /* padding: 2px !important; */
    word-wrap: break-word;
  }
  table th{
    text-align: center !important;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
  :is(.dashboard__details, .leave__container > *, .auth-container > *) {
    width: 95% !important;
  }
  .dashboard__clock__and__progress {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  :is(.card, .dashboard__progress) {
    width: 100% !important;
  }
  .dashboard__calendar__and__graph {
    justify-content: center;
    flex-direction: column;
  }
  .dashboard__graph {
    width: 100% !important;
  }
  .marker__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-direction: column;
  }
  .employee__records {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dashboard__calendar{
    width: 100% !important;
  }
}
