/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
  font-family: "Roboto", sans-serif;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --tertiary-color: green;
  --text-color: white;
}

/* General */
.error-message {
  color: red;
  margin-bottom: 1em;
}

.success-message {
  color: green;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.button{
  padding:0.5em;
  font-size: 0.75em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: var(--primary-color);
}

.button:hover, .button:focus{
  background-color: var(--tertiary-color);
  transition: 0.5s;
}

.card{
  border: 2px solid white;
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.5em;
  /* background-color: hsl(0, 100%, 30%); */
  background-color: rgb(172, 172, 172);
  color: black;
  min-width: 100px;
}

.card:hover, .card:focus{
  border: 2px solid var(--primary-color);
  transition: 0.5s;
}

/* Navbar */
.navbar {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  font-size: larger;
  font-weight: bolder;
}

.nav-links{
  display: flex;
  text-decoration: none;
}

.nav-links a{
  padding: 1em 0;
  margin: 0 2em;
  color: var(--primary-color);
}

.nav-links a:hover {
  text-decoration: underline;
}


/* Auth Page */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 0em;
}

.auth-container h1 {
  font-size: 2em;
  font-weight: bold;
}

.auth-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  max-width: 800px;
}

.auth-form {
  display: inline-block;
  border: 1px solid var(--secondary-color);
  padding: 5em 2em;
  border-radius: 15px;
}

:is(.auth-form input, .auth-form select) {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  margin: 1em 0;
  border-radius: 0.5em;
  border: 2px solid var(--primary-color);
}

:is(.auth-form input:focus, .auth-form select:focus, .auth-form input:hover, .auth-form select:hover) {
  background-color: var(--primary-color);
  outline: none;
}

.auth-form button {
  margin: 2em 0;
  padding: 1em 0;
  width: 100%;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10em;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

:is(.auth-form button:hover, .auth-form button:focus) {
  background-color: var(--primary-color);
}