/* Employee Dashboard */
.dashboard__details{
  width: 80%;  
  margin: 0 auto;
}

.dashboard__clock__and__progress{
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.dashboard__clock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.dashboard__clock__info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
  gap: 1em;
}

.react-clock{
  margin-bottom: 1em;
}

.dashboard__progress{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress{
  display: flex;
  gap: 1.5em;
  width: 100%;
}

.progress__bar
{
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress_heading{
  font-size: large;
  font-weight: bolder;
  text-align: center;  
}

.dashboard_links{
  display: flex;
  justify-content: space-around;
}

.dashboard_links button{
  width: 100%;
  padding: 1em 0;
  margin: 1em 0;
  min-width: 150px;
}

.dashboard__calendar__and__graph{
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.only__graph{
  justify-content: center;
}

.dashboard__graph{
  width: 50%;
}

.css-10vg0a6-MuiResponsiveChart-container{
  background-color: var(--secondary-color) !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 1em;
  border: 1px solid var(--border-color);
}

.css-10vg0a6-MuiResponsiveChart-container:is(:hover, :focus-within) {
  border: 1px solid var(--secondary-color) !important;
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel{
  fill: var(--text-color) !important;
}

.dashboard__calendar{
  min-width: 300px;
  width: 50%;
  border: 1px solid var(--border-color);
  border-radius: 1em;
  transition: 0.5s;
}

.dashboard__calendar:is(:hover, :focus-within) {
  border: 1px solid var(--secondary-color);
}

.react-calendar {
  background: var(--secondary-color) !important;
  border-radius: 1em !important;
  width: 100% !important;
  color: var(--text-color) !important;
}

:is(.react-calendar__navigation__label, .react-calendar__navigation__arrow){
  color: var(--text-color) !important;
  transition: 0.5s;
}

:is(.react-calendar__navigation__label, .react-calendar__navigation__arrow):is(:hover, :focus-within) {
  background-color: var(--primary-color) !important;
}

.react-calendar__tile{
  border-radius: 100vb;
  margin: 0.5em 0 !important;
  color: var(--text-color) !important;
}

.react-calendar__month-view__days__day--weekend{
  color: var(--error-color) !important;
}

.react-calendar__month-view__days__day--neighboringMonth{
  color: var(--text-color) !important;
  transition: 0.5s;
}

.react-calendar__tile:is(:focus-within, :hover){
  background-color: var(--accent-color) !important;
}

.presentDate {
  background-color: var(--success-color) !important;
  border: 2px solid var(--border-color) !important;
  color: var(--text-color) !important;
}

.presentDate:is(:focus-within, :hover){
  background-color: var(--success-color) !important;
  border: 2px solid var(--border-color) !important;
}

.absentDate {
  background-color: var(--error-color) !important;
  border: 2px solid var(--border-color) !important;
  color: var(--text-color) !important;
}

.absentDate:is(:focus-within, :hover){
  background-color: var(--error-color) !important;
  border: 2px solid var(--border-color) !important;
}


/* Records */
.employee__records {
  margin-top: 20px;
  text-align: center; /* Center align all text content */
}

.employee__records h2 {
  margin-bottom: 20px; /* Add space below the heading */
  font-size: 25px;
}

.employee__records table {
  width: 100%;
  border-collapse: collapse;
}

.employee__records th{
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  padding: 8px;
  text-align: left;
  color: var(--text-color);
}

.employee__records td {
  padding: 8px;
  border: 1px solid var(--border-color);
  text-align: left;
}

.employee__records tbody tr {
  background-color: var(--background-color);
  transition: 0.5s;
}

.employee__records tbody tr:hover {
  background-color: var(--accent-color); 
  color: var(--text-color);
}

.employee__records .Approved{
  background-color: var(--success-color);
}

.employee__records .Pending{
  background-color: var(--pending-color);
}

.employee__records .Rejected{
  background-color: var(--error-color);
}

/* Leave */
.leave__container > *{
  width: 80%;
}

.leave__leave-request-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.leave__form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; 
}

.leave__form-group > select.leave__form-control {
  padding: 1rem 1.5rem;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  transition: 0.5s;
}

.leave__form-control:is(:focus-within, :hover) {
  outline: none;
}

.leave__container form{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.leave__container button{
  width: 30%;
  margin: 0 auto;
}