.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.leave-request-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.loading {
    text-align: center;
    margin-top: 50px;
}

.error {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.container2 {
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.dashboard-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 13px;
    font-weight: bold;
    border: 2px solid black;
}

.summary, .records, .mark-attendance {
    margin-bottom: 30px;
}

.container2 h2{
    font-weight: bold;
    margin-bottom: 10px;

}

.summary p {
    margin: 5px 0;
}

.records ul {
    list-style: none;
    padding: 0;
}

.records li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.records li:last-child {
    border-bottom: none;
}

.mark-attendance button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mark-attendance button:hover {
    background-color: #45a049;
}

.loading, .error {
    text-align: center;
    margin-top: 50px;
    color: red;
    font-weight: bold;
}
