.records {
    margin-top: 20px;
    text-align: center; /* Center align all text content */
  }
  
  .records h2 {
    margin-bottom: 20px; /* Add space below the heading */
    font-size: 25px;
  }
  
  
  .records table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .records th,
  .records td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .records th {
    background-color: darkgray; /* Light gray */
  }
  
  .records tbody tr {
    background-color: #000; /* White */
  }
  
  .records tbody tr:hover {
    background-color: #000000; /* Black on hover */
    color: #ffffff; /* White text on hover */
  }
  